html,body{
	background-color:#293b61;
}
.sp-main-body{
    padding-top: 4.307692rem;
    overflow-x: hidden;
    background-color: #293b61;
    min-width: 24.615385rem;
}

.sp-list{
    padding: 0 0.769231rem;
    display: inline-block;
}

.sp-listItem{
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-bottom: 0.769231rem;
    a{
    	display: inline-block;
        color: #fff;
    }
    img{
	    text-align: center;
	    vertical-align: middle; 
	     padding: 0 0.769231rem;   	
    }
    p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 1.692308rem;  	
    }
}

.sp-listItem .img{

}